version: '3.8'

services:
  electra-api:
    image: electra-api-image
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080" 
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    volumes:
      - ./Electra.Api/electra.db:/app/electra.db 